<style>
  /* Navbar background */
  .bg-lightgray {
    background-color: #f2f2f2; /* Light grey background */
  }

  /* Navbar link color */
  .navbar-light .navbar-nav .nav-link {
    color: #555555; /* Dark grey color */
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #333333; /* Slightly darker grey color on hover/focus */
  }

  /* Button color */
  .btn-custom {
    background-color: #666666; /* Slightly lighter grey background */
    border-color: #555555; /* Slightly lighter grey border */
    color: #ffffff; /* White text */
  }

  .btn-custom:hover,
  .btn-custom:focus {
    background-color: #555555; /* Darker grey on hover/focus */
    border-color: #444444; /* Darker grey border on hover/focus */
  }

  /* Form button color */
  .btn-custom2 {
    background-color: #666666; /* Slightly lighter grey background */
    border-color: #555555; /* Slightly lighter grey border */
    color: #ffffff; /* White text */
  }

  .btn-custom2:hover,
  .btn-custom2:focus {
    background-color: #555555; /* Darker grey on hover/focus */
    border-color: #444444; /* Darker grey border on hover/focus */
  }
</style>

<div class="navbar fixed-bottom navbar-expand-lg navbar-light bg-lightgray">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item mx-3">
      <%= link_to root_path, class: 'nav-link text-uppercase text-black p-3 rounded btn-custom' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      <% end %>
    </li>
    <li class="nav-item mx-3">
      <%= link_to viaje_path, class: 'nav-link text-uppercase text-black p-3 rounded btn-custom' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
          <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"/>
        </svg>
      <% end %>
    </li>
    <li class="nav-item mx-3">
      <%= link_to global_path, class: 'nav-link text-uppercase text-black p-3 rounded btn-custom' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
        </svg>
      <% end %>
    </li>
    <% if current_user %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
          <%= form_tag logout_path, method: :delete, class: 'form-inline' do %>
            <button type="submit" class="nav-link text-uppercase text-black p-3 rounded btn-custom2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
              </svg>
            </button>
          <% end %>
        </li>
      </ul>
    <% end %>
  </ul>
</div>
